%% -*- mode: erlang; -*-
[
    {config, [
      #{
         files => ["src/*.erl", "test/*.erl"]
       , rules => [ {elvis_text_style, line_length, #{ limit => 80
                                                     , skip_comments => false
                                                     }}
                  , {elvis_text_style, no_tabs}
                  , {elvis_text_style, no_trailing_whitespace}
                  , { elvis_style
                    , macro_names
                    , #{ regex => "^([a-zA-Z][a-zA-Z_0-9]+)$" % "^([A-Z][A-Z_0-9]+)$" FIXME
                       , ignore => []
                       }
                    }
                  , {elvis_style, macro_module_names}
                  , {elvis_style, operator_spaces, #{rules => [ {right, ","}
                                                              , {right, "++"}
                                                              , {left, "++"}
                                                              ]}}
                  , {elvis_style, nesting_level, #{level => 4}} % see https://github.com/inaka/elvis/issues/361
                  , {elvis_style, god_modules, #{limit => 25}}
                  , {elvis_style, no_if_expression}
                  , {elvis_style, invalid_dynamic_call, #{ ignore => [elvis]
                                                         }}
                  , {elvis_style, used_ignored_variable}
                  , {elvis_style, no_behavior_info}
                  , { elvis_style
                    , module_naming_convention
                      %% Allow purely-numeric underscore-delimited segments
                      %% (e.g. the "_09" in jesse_validator_draft2019_09) so
                      %% draft-year_month dialect modules can be named after
                      %% their metaschema version.
                    , #{ regex => "^([a-z][a-z0-9]*)(_[a-z0-9]+)*(_SUITE)?$"
                       , ignore => []
                       }
                    }
                    %% , { elvis_style
                    %%   , function_naming_convention
                    %%   , #{ regex => "^([a-z][a-z0-9]*_?)*(_SUITE)?$"
                    %%      , ignore => []
                    %%      }
                    %%   }
                  , { elvis_style
                    , variable_naming_convention
                    , #{ regex => "^(_?[A-Z][0-9a-zA-Z_]*)$" % "^([A-Z][0-9a-zA-Z]*)$" FIXME
                       , ignore => []
                       }
                    }
                  , {elvis_style, state_record_and_type}
                  , {elvis_style, no_spec_with_records}
                  , {elvis_style, dont_repeat_yourself, #{ min_complexity => 250 % 10 FIXME
                                                         }}
                  , {elvis_style, max_module_length, #{ max_length => 1500
                                                      , ignore => []
                                                      , count_comments => true
                                                      , count_whitespace => false
                                                      }}
                  , {elvis_style, max_function_length, #{ max_length => 250
                                                        , count_comments => true
                                                        , count_whitespace => false
                                                        }}
                  , {elvis_style, no_debug_call, #{ debug_functions => [ {ct, pal}
                                                                       , {io, format, 1}
                                                                       , {io, format, 2}
                                                                       ]
                                                  , ignore => [jesse_tests_util]
                                                  }}
                  ]
       }
    ]},
    % output_format (optional): how to format the output.
    % Possible values are 'plain', 'colors' or 'parsable' (default='colors').
    {output_format, colors},
    % verbose (optional): when 'true' more information will
    % be printed (default=false).
    {verbose, true},
    % no_output (optional): when 'true' nothing will be printed
    % (default=false).
    {no_output, false},
    % parallel: determine how many files will be
    % analyzed in parallel (default=1).
    {parallel, 1}
].
